article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// setup

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
	margin: 0 0 10px 0;
}

h6 {
	font-size: 0.75rem;
}


$copy: "Roboto Mono", sans-serif;
$display: "Roboto Mono", sans-serif;

$regular: 300;


$gray01: #6F6F75;
$gray02: #484848;
$dgray03: #767676;

$black: #000000;
$white: #ffffff;

$red: #FF5A5F;
$tan: #FCF6EE;

a {
	text-decoration: none;
	@extend .transition;
	font-size: 0.75rem;
	font-family: $display;
	color: $gray01;
}

// Typography Styles: Start

.upcase {
	text-transform: uppercase;
}

.copy {
	font-family: $copy;
}

.display {
	font-family: $display;
}

.italic {
	font-style: italic;
}

.regular {
	font-weight:400;
}

.text-center {
	display: block;
	text-align: center
}

.text-white {
	color: $white;
}

.regular {
	font-weight: $regular;
}


// Typography Styles: End


.padding-large {
	padding: 60px 40px;
}

.padding-medium {
	padding: 30px 40px;
}

.padding-small {
	padding: 10px 40px;
}

.padding-top-none {
	padding: 0 40px;
}


.transition {
	transition: all 0.5s ease-in-out;
}


html, body {
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
  font-family: $copy;
  font-weight: 300;
}

section {
	@extend .padding-large;
}



.header {
	z-index: 1;
	width: 100%;
	@extend .padding-medium;

	h1 {
		font-size: 1rem;
		font-family: $copy;
		margin: 5px;
		text-align: center;
	}

	h4 {
		font-weight: $regular;
		font-size: 0.75rem;
		margin: 5px;
		text-align: center;
	}

	.logo {
		max-width: 125px;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}

.contact {
	padding: 0 20px;
}

.artists {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;

	.artist__container {
		background-size: contain;
		flex: 0 0 33.33%;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		align-items: center;
		height: 50%;
		color: white;
		text-align: center;
		position: relative;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		backface-visibility: hidden;

		&.one {
			background: url(../i/artist_jay.jpg) no-repeat;
			background-size: cover;
		}

		&.two {
			background: url(../i/artist_tyson.jpg) no-repeat;
			background-size: cover;
		}

		&.three {
			background: url(../i/artist_lauren.jpg) no-repeat;
			background-size: cover;
		}

		&.four {
			background: url(../i/artist_paul.jpg) no-repeat;
			background-size: cover;
		}

		&.five {
			background: url(../i/artist_katt.jpg) no-repeat;
			background-size: cover;
		}

		&.six {
			background: url(../i/artist_german.jpg) no-repeat;
			background-size: cover;
		}


		&:before {
			content:'';
			float:left;
			padding-top:100%;
		}

		.copy {
			padding: 5px;
			background: $white;
			color: $black;
			display: inline-block;
			margin: auto;
			position: absolute;
			z-index: 1;
			bottom: 20px;
			left: 20px;

			h4 {
				font-weight: $regular;
				margin: 5px; 
			}

			h6 {
				margin: 5px;
			}
		}

		a {
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			background-color: rgba(0,0,0, 0.5);
		}

		&:hover {
			-webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
			filter: grayscale(0);
			a {
				opacity: 0;
			}

			h6 > span {
				position: relative;
				left: 5px;
			}
		}
	}

	h6 {
		color: $black;
		text-transform: uppercase;

		span {
			color: $black;
			position: relative;
			left: 0;
			@extend .transition;
		}
	}
}

.locations {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;

	.location {
		flex: 0 0 50%;


		h6 {
			font-style: normal;
		}
	}

	.location__church {
		border-right: 1px solid $black;
	}

	address {
		margin: 0 0 20px 0;
	}
}

.footer{
	min-height: 350px;
	position: relative;
	overflow: hidden;
	display: flex;

	h4, a {
		color: $black;
	}

	a {
		margin: 0 10px 0 0;
		color: $gray01;

		&:hover {
			color: darken($gray01, 20%);
		}
	}

	.margin-left {
		margin-left: 10px;
	}

	&--logo {
		position: absolute;
		opacity: .1;
		max-width: 650px;
		right: -81px;
		transform: rotate(-33deg);

	}

	.footer--inner {
		align-self: center;
	}
}









